*, *::after, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    user-select: none;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    user-select: none;
    font-weight: normal;
    font-family: cherry;
}
p{
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    user-select: none;
    font-weight: normal;
}
div{
    user-select: none;
}
